body {
  padding: 20px;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* 可以根據需要修改文字顏色 */
  font-size: 2em; /* 可以根據需要修改文字大小 */
}

.search-bar {
  margin-top: 20px;
  text-align: center;
}

.card-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0 10px 20px 10px;
  width: 100%; /* 調整卡片寬度 */
}

.card-body {
  display: flex;
  justify-content: space-around;
}