{% extends "base.html" %}

{%  block start %}

<div class="container mt-5 pt-5 col-6">

    <form method="POST">
        {% csrf_token %}
        {%include "messages.html"%}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">電子郵件</label>
          <input type="text" name="username" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">我們絕不會與其他人分享您的電子郵件</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">密碼</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">提交</button>
        <div>
          <label style="color: rgb(150, 150, 150)" for="warning" class="warning">尚未註冊電子郵件?</label>
          <a class="login" href="/register/"><button style="width:60px;height:35px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" value="註冊">註冊</button></a>
        </div>
      </form>
</div>


{% endblock %}