{% extends "master.html" %}

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content%}
    <div class="containerbox">
        {{block.super}}
        <!--{% csrf_token %}--->
        <div class="gameSetting">
            <div class="transbox">
                <h1 class="display-3">GameSetting</h1>
                <div class="defaultMode">
                    <h1 class="display-6">預設模式</h1>
                    <form action="Gaming" method="post" class="defaultMode_row2">
                        {% csrf_token %}
                        <select name="Difficultyvalue" class="h-50">
                            {%for key,value in select_form.DifficultyList %}
                            <option value="{{value}}">{{key}}</option>
                            {%endfor%}
                        </select>
                        <input type="submit" value="開始遊戲" id="" class="startGameButton fs-6">
                    </form>
                </div>
                <div class="customMode">
                    <div class="row1">
                        <h2 class="display-6">自訂義模式(尚未開放)</h2>
                    </div>
                    <div class="row2">
                        <div class="column1">
                            <div class="mapSize">
                                <p class="pinline fs-5">地圖大小</p>
                                <input type="number" value="5" max="100" min="5" id="MatrixSize">
                            </div>
                            <div class="minesweeperNumber">
                                <p class="pinline fs-5">地雷數量</p>
                                <input type="number" value="1" min="1" max="100" id="MineAmount">

                            </div>
                        </div>
                        <div class="column2">
                            <input type="button" value="開始遊戲" id="" onclick="location.href = 'Gaming'"
                                class="changeSettingButton fs-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    {% endblock %}
</body>

</html>