{% extends "master.html" %}

{% load static %}
<html lang="en">

<head>
    {% block head%}
    <title>GameHell</title>
    {% endblock%}
</head>

<body>
    {% block content %}
    <div class="containerbox">
        {{block.super}}
        <div class="gamebody">
            <!-- 左邊區塊：圖片 -->
            <div class="col-md-5 img-container">
                <img src="/static/picture/Background.png" alt="gamepicture" class="gameImage">
            </div>
            <!-- 右邊區塊：踩地雷、遊戲簡介、開始遊戲、調整設定 -->
            <div class="col-md-4 px-5 information-container">
                <!-- 遊戲名稱 -->
                <h1 class="mt-3 me-5 gameName">踩地雷
                </h1>
                <!-- 遊戲簡介 -->
                <div class="text-end introduce">
                    歡迎來到遊戲地獄，
                    <br>
                    遊戲地獄取名的靈感由來，
                    <br>
                    為大家小時候都聽過的
                    <br>
                    線上娛樂平台「遊戲天堂」。
                    <br>
                    我們希望運用Web程式設計所學，
                    <br>
                    透過Python、JavaScript、
                    <br>
                    Bootstrap、HTML...，
                    <br>
                    以及Django網頁應用框架，
                    <br>
                    來達到UI/UX設計的目的，
                    <br>
                    致敬我們小時候的童年。
                </div>
                <!-- 開始遊戲、調整設定 -->
                <div class="runcontainer text-end">
                    <input type="button" value="開始遊戲" id="StartGame" onclick="location.href = 'GameSetting'"
                        class="startGameButton">

                    <input type="button" value="調整設定" id="ChangeSetting" onclick="location.href = 'Setting'"
                        class="changeSettingButton">
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>